.wrong{
	background-color: #F08080;
}

.correct{
	background-color: #90EE90;
}

.container{
	display: flex;
	justify-content:center;
}

.container > div{
	margin: 10px;
}

.first{

	width:200px;
	}

.second{
	width:400px;
	padding:5px;
	overflow-wrap: break-word;
	}

.third{
	width:200px;
	overflow-wrap: break-word;
} 