.wrong{
	background-color: #F08080;
}

.correct{
	background-color: #90EE90;

}
body{
	background-color: #F5F5F5;
}
.padding {
	padding-bottom: 15px;
}

.wrap-assignment {
	padding: 20px;
	padding-bottom: 10px;
	margin-top: 80px;
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.40);
	-moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.40);
	box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.40);
}
.wrap-progress {
	padding: 20px;
	background-color: #fff;
	border-radius: 0px 0px 0px 0px;
	border: solid 1px;
	width: 50%;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}
.wrap-hint {
	padding: 20px;
	background-color: #fff;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}
.btn-assignment{
	background-color: #283593;
	display:block;
	width:50%;
	margin:0 auto;
	font-size: 16px;
}
.button {

	display          : block;
	width            : auto;
	height           : auto;
	margin           : auto;
	border           : 0.0625em;
	border-radius    : 0.125em;
}
.coloring {
	background-image :    -moz-linear-gradient(#fff,#fff);
	background-image :     -ms-linear-gradient(#fff,#fff);
	background-image :      -o-linear-gradient(#fff,#fff);
	background-image : -webkit-linear-gradient(#fff,#fff);
	background-image :         linear-gradient(#fff,#fff);
}

label:hover {
	color: #7AA3CC;
}

radio:hover {
	color: #7AA3CC;
}
.popover-content {
    word-wrap: break-word;
}